* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;
}

body {
  background: #130606 repeat;
  background-image: url("/images/Roman-Helmet.svg");
  background-size: 50px;
}

:root {
  --blue-col: #4095ff;
  --orange-col: #ffaa40;
  --red-col: #f75151;
  --bg-col: #101311;
  --dark-col: #212422;
  --text-col: #efefef;
  --text-col2: #dfdfdf;
  --text-col3: #ffffff;
  --cream-col: #fffde5;
}
/*** Works on common browsers ***/
::selection {
  background-color: #352e7e;
  color: #fff;
}
/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #352e7e;
  color: #fff;
}
/***For Other Browsers ***/
::-o-selection {
  background-color: #352e7e;
  color: #fff;
}
::-ms-selection {
  background-color: #352e7e;
  color: #fff;
}
/*** For Webkit ***/
::-webkit-selection {
  background-color: #352e7e;
  color: #fff;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}
::-webkit-scrollbar-track {
  background: #020101;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.abs-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 56rem;
}
.main-box {
  border-radius: 16px;
  border: dashed 2px var(--red-col);

  background-color: var(--bg-col);
  color: var(--text-col);
  box-shadow: 0px 0px 40px 20px #000000;

  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  min-height: 60rem;
  min-height: 60rem;
  overflow: hidden;
}

.side-bar {
  overflow: hidden;
  position: fixed;
  width: 15rem;
  height: 25rem;
  left: -5rem;
  bottom: 40%;

  background-color: var(--bg-col);
  border: solid 2px var(--red-col);
  border-radius: 20px;
  color: var(--text-col);
}
.side-bar div {
  padding-left: 5.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.sb-list li {
  list-style-type: none;
}
.sb-list li * {
  white-space: nowrap;
}
.splitter {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 8rem;
  height: 3px;
  background-color: var(--red-col);
}
.ico {
  font-size: 1.5rem;
  display: inline;
}
.svg-ico {
  height: 1.5rem;
  width: auto;
}

.list-def {
  text-align: center;
}
.list-def li {
  list-style: none;
  display: inline-flex;
  padding-left: 1rem;
}

h6 {
  color: var(--cream-col);
  text-shadow: 0px 0px 2px var(--cream-col);
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
}
h5 {
  color: var(--cream-col);
  font-family: "Luxurious Roman", cursive;
  margin-left: -0.87rem;
  font-size: 1.5rem;
  padding-top: 4rem;
}
h2,
h3,
h4 {
  font-family: "Luxurious Roman", cursive;
}
h4 {
  font-size: 2rem;
  margin-bottom: -20px;
  margin-top: 1rem;
}
h3 {
  font-size: 1.5rem;
}
h2 {
  padding-top: 6.5rem;
  padding-bottom: 1rem;
  font-size: 2.15rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: var(--text-col2);
}
.title {
  padding-top: 3rem;
  text-shadow: 0px 0px 4px #ffffff;
  color: #f5f1e1;
  font-size: 4rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.entry-img {
  border: solid 2px var(--red-col);
  border-radius: 10px;
  min-width: 75px;
  max-width: 42rem;
  width: 85vw;
}
.entry-index {
  transition: 80ms;
  color: var(--orange-col);
  background-color: rgba(225, 225, 225, 0.1);
  border-radius: 7px;
  padding: 4px;
  max-width: 40rem;
  margin-top: 20px;
}
.entry-index:hover {
  color: var(--blue-col);
  background-color: rgba(225, 225, 225, 0.2);
}
a {
  display: inline;
  white-space: nowrap;
  color: var(--blue-col);
  text-decoration: none;
}
a:hover {
  color: var(--orange-col);
}
p {
  font-family: "Roboto Mono", monospace;
  color: var(--text-col2);
}
strong {
  font-style: bold;
  color: var(--text-col3);
}
.para {
  text-indent: 5%;
  text-align: left;
  max-width: 580px;
  padding: 20px;
  padding-bottom: 10px;
}
.code {
  background-color: var(--dark-col);
  border-radius: 5px;
  border: solid 1px var(--bg-col);
  color: green;
}
.sub {
  font-size: 1rem;
}
item {
  color: var(--orange-col);
  font-family: "Roboto Mono", monospace;
}

.wrap {
  white-space: normal;
}
.inline-l {
  display: inline;
  position: absolute;
  float: left;
}
.gif {
  background-color: var(--dark-col);

  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2rem;

  height: 200px;
  justify-content: space-evenly;

  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 10px;
}
.git a {
  image-rendering: pixelated;
}

@media only screen and (max-height: 44rem) {
  .title {
    padding-top: calc(3rem - 50px);
  }
  .side-bar {
    border-radius: 6px;
    position: relative;
    width: calc(100vw - 20px);
    max-width: 56rem;
    height: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    white-space: nowrap;

    z-index: 2;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .side-bar div {
    padding-left: 0.5rem;
  }
  .sb-list li h3 {
    font-size: 1rem;
    display: block;
  }
  .sb-list {
    display: inline-block;
  }
  .sb-list li {
    float: left;
  }
  .sb-list li:not(.splitter) {
    padding-left: 0.58rem;
    padding-right: 0.58rem;
  }
  .sb-list li h3 * {
    display: inline;
  }
  .splitter {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.48rem;
    margin-right: 0.48rem;
    width: 3px;
    height: 35px;
  }
  .ico {
    font-size: 1.2rem;
    display: inline;
  }
  .svg-ico {
    height: 1.2rem;
    width: auto;
  }
}
@media only screen and (max-width: 83rem) {
  .title {
    padding-top: calc(3rem - 50px);
  }
  .side-bar {
    border-radius: 6px;
    position: relative;
    width: calc(100vw - 20px);
    max-width: 56rem;
    height: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    white-space: nowrap;

    z-index: 2;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .side-bar div {
    padding-left: 0.5rem;
  }
  .sb-list li h3 {
    font-size: 1rem;
    display: block;
  }
  .sb-list {
    display: inline-block;
  }
  .sb-list li {
    float: left;
  }
  .sb-list li:not(.splitter) {
    padding-left: 0.58rem;
    padding-right: 0.58rem;
  }
  .sb-list li h3 * {
    display: inline;
  }
  .splitter {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.48rem;
    margin-right: 0.48rem;
    width: 3px;
    height: 35px;
  }
  .ico {
    font-size: 1.2rem;
    display: inline;
  }
  .svg-ico {
    height: 1.2rem;
    width: auto;
  }
}
@media only screen and (max-width: 56.9rem) {
  .abs-center {
    width: calc(100vw - 16px);
  }
  .side-bar {
    height: 5rem;
  }
  .splitter {
    margin: 0px;
    width: 3px;
    height: 1.5rem;
  }
  .inline-l {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: inherit;
    position: relative;
    float: none;
    text-align: center;
  }
  .gif {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .gif {
    margin: 0;
    grid-template-columns: 1fr 1fr;
    height: 220px;
  }
  h3 {
    font-size: 1.25rem;
  }
  h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
  }
  item {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .para {
    padding-left: 0;
    padding-right: 0;
  }
  .title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 240px) {
  h3 {
    font-size: 1rem;
  }
  .gif {
    grid-template-columns: 1fr;
    height: 500px;
  }
  .ico {
    font-size: 0.75rem;
    display: inline;
  }
  .svg-ico {
    height: 0.75rem;
    width: auto;
  }
}
